workflows/register_cliente_n8n.json
{
  "name": "Registro de Nuevo Cliente - Ejemplo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuevo-cliente",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "IDCliente", "value": "={{ 'C-' + Math.floor(Math.random()*9000 + 1000) }}"},
            {"name": "NombreCompleto", "value": "={{ $json['nombre'] || $json['name'] || '' }}"},
            {"name": "Email", "value": "={{ $json['email'] || '' }}"},
            {"name": "Telefono", "value": "={{ $json['telefono'] || $json['phone'] || '' }}"},
            {"name": "Documento", "value": "={{ $json['documento'] || $json['document'] || '' }}"},
            {"name": "FechaRegistro", "value": "={{ new Date().toISOString().split('T')[0] }}"},
            {"name": "TipoCliente", "value": "nuevo"}
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "=YOUR_SPREADSHEET_ID",
        "range": "Clientes",
        "valueInputMode": "RAW",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "fromEmail": "=YOUR_GMAIL_ADDRESS",
        "toEmail": "= {{$json[\"Email\"]}}",
        "subject": "Bienvenido a Nuestra Agencia, {{$json[\"NombreCompleto\"]}}!",
        "text": "= Hi {{$json[\"NombreCompleto\"]}},\n\nGracias por registrarte. Pronto te contactaremos con opciones y promociones.\n\nSaludos,\nEquipo de la Agencia",
        "options": {}
      },
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "chatId": "=YOUR_TELEGRAM_CHAT_ID",
        "text": "Nuevo cliente registrado: {{$json[\"NombreCompleto\"]}} — {{$json[\"Email\"]}}"
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [800, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {"node": "Set", "type": "main", "index": 0}
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {"node": "Google Sheets", "type": "main", "index": 0},
          {"node": "Gmail Send", "type": "main", "index": 0},
          {"node": "Telegram", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
